:root {
  --cor-fundo: #e6e6fa;
  --cor-fonte: #333;
  --cor-primaria: #d9c2f2;
  --cor-primaria-hover: #c9aef0;
  --cor-card: #f5f5ff;
  --cor-sombra: rgba(0, 0, 0, 0.1);
  --raio-borda: 16px;
  --fonte: 'Segoe UI', sans-serif;


  --tamanho-texto-header: 50px;
  --raio-borda-card: 15px;
  --raio-borda-botao: 10px;
}

#headerInicial {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  height: 80px;
  font-size: 1.8rem;
}

#textoH {
  font-family: var(--fonte);
  font-size: var(--tamanho-texto-header);
}

body {
  background-color: var(--cor-fundo);
}

#container {
  display: flex;
  gap: 40px;
  width: 80vw;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 200px;
}

.card {
  flex: 1 1 0;
  height: 200px;
  background: var(--cor-card);
  border-radius: var(--raio-borda-card);
  box-shadow: 0 4px 10px var(--cor-sombra);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card button {
  padding: 18px 35px;
  font-size: 1.3rem;
  border: none;
  border-radius: var(--raio-borda-botao);
  background-color: var(--cor-card);
  color: var(--cor-fonte);
  cursor: pointer;
  transition: background-color 0.3s;
}
 .navegacao {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navegacao a {
  color: var(--cor-fonte);
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 15px;
  display: inline-block;
}

.navegacao a:hover {
  background-color: var(--cor-primaria-hover);
}